body {
	background: #FFFFAB;
	color: #000;
	max-width: auto;
	float: center;
	font-family: Bitter, Cambria, serif;
	font-size: 100%;
	margin: auto; 
	padding: 1em;
	}

.container {
	float: center;
}

#map {
	float: center;
	max-width: 700px;
	margin: auto
}
	
 img {
	max-width: 100%;
	}

 h1 {
	margin: 0;
	font-family: Oswald, Calibri, sans-serif;
	text-align: center;
	}

